@media screen and (max-width: 1400px){
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
    }
    
}

@media screen and (max-width: 1200px){
    .flexcontainer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
     
    .navBar{ 
        display: none;
    }

    #hamburger-nav{
    display: flex;
    justify-content: space-between;
    }
    
    #profile{
        display: block;
        height: fit-content;
    }
    .pics_container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .experience-container{
        margin: 2rem;
        height: fit-content;
        justify-content: center; 
        flex-direction: column;
        align-items: center;
        
    }

}

@media screen and (max-width: 600px){
    .MeItem, body{
        font-size: 15px;
    }
    #profile{
        height: 83vh;
        margin-bottom: 0;  /* removes the gap */
    }
    .btn-container{
        flex-wrap: wrap;
    }
    .logo{
        font-size: 1.5rem;
    }
    .menu-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .pics_container, .pics_container img{
        width: auto;
        height: 90vw;
        justify-content: center;
    }
    .title{
        font-size: 2rem;
    }

    .text_p2{
        font-size: 1.25rem;
    }
    .art{
        width: 100%;
        height: 100%;
    }
    .article-container img{
        width: 350px;
    }
}